body{
   color: aliceblue;
    font-family: Arial, sans-serif;
    background-color: #ee9191;
    margin: 0;
    padding: 20px;


}

nav{
    background-color: #fac3dd;
    color: #ff0000;
    padding: 10px;
    text-align: center;
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 300px;

}
form{
    background-color: #fac3dd;
    color: black;
    padding: 20px;
    text-align: center;
    text-size-adjust: auto;
    border-radius: 5px;
    max-width: 400px;
    margin: 30px;

}
